<html xmlns="http://www.w3.org/1999/xhtml">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>Table Editor - DBIC For The Dance Floor</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="Table Editor is a the Dancer powered Perl cure for PHP powered database admins." name="description" />
    <meta content="" name="keywords" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500' rel='stylesheet' type='text/css'>
    <!--  CSS -->
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" />
    <!--  Favicon -->
    <link href="/img/favicon.png" rel="icon" type="image/png" />
    <!--  JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery(".trailers").hide();
            jQuery('.toggle').click(function(){
            jQuery(".trailers").hide();
        jQuery("#"+$(this).data('target')).slideToggle();
    });
});
</script>
    </head>
        <body>
            <div id="container">
                <div id="navigation">
                    <div id="navigation-inner">
                        <ul class="sf-menu">
                            <li class="sf-root"><a href="/" class="nav-main">Home</a></li>
                            <li class="sf-root"><a href="/demo" class="nav-main">DEMO</a></li>
                            <li class="sf-root"><a href="/the-code" class="nav-main">The Code</a></li>
                            <li class="sf-root"><a href="/documentation" class="nav-main">Documentation</a></li>
                            <li class="sf-root"><a href="/support" class="nav-main">Support</a></li>
                            <li class="sf-root"><a href="/visit-us" class="nav-main">Conferences</a></li>
                            </ul>
                        <div id="new"><a href="http://github.com/interchange/TableEditor/" target="_blank"><img src="/img/become-part.png" alt=""/></a></div>
                     </div>
                     <!--end navigation-inner-->
                </div>
                <!--end navigation-->
                <div id="text_placement"> 
                    <span>Presenting</span>
                <div style="margin-top:20px; margin-bottom:5px; position:relative;">
                    <a href="/"><img src="/img/tableeditor-logo.png" width="545" height="130" alt="Table Editor - DBIC For The Dance Floor" title="Table Editor - DBIC For The Dance Floor" /></a>
                </div>
                </div>

            <!--  content  -->
            <div class="content"></div>
            <!--  end content  -->

            <div id="footer">
  <ul id="sponsors"><h3>Powered By</h3><br />
    <li> <a href="http://www.angularjs.org/" target="_blank"><img src="/img/powered-by/angularjs-logo.jpg" alt="AngularJS"></a> </li>
    <li> <a href="http://www.perldancer.org/" target="_blank"><img src="/img/powered-by/dancer-logo.jpg" alt="Perl Dancer"></a> </li>
    <li> <a href="http://search.cpan.org/~ribasushi/DBIx-Class/lib/DBIx/Class.pm" target="_blank"><img src="/img/powered-by/dbic-logo.jpg" alt="DBIx::Class"></a> </li>
  </ul>
               <p>2014 © Copyright</p>
               <br>
               <p><a href="https://github.com/interchange/TableEditor/" target="_blank">We Are On GitHub!</a></p>
               <br>
               <br>
               <p><a href="http://www.perl.org/" target="_blank"><img src="/img/php-caldron-footer.gif"></a></p>
            </div>
    </div>
  </body>
</html>
